<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Youtube Videos</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Youtube Videos', youtube_videos_path %></div>
      <div class="breadcrumb-item">Show Youtube Video</div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Show Youtube Video</h4>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">Classroom:</dt>
          <dd class="col-sm-9"><%= @youtube_video.classroom_id %></dd>
          <dt class="col-sm-3">Title:</dt>
          <dd class="col-sm-9"><%= @youtube_video.title %></dd>
          <dt class="col-sm-3">Link:</dt>
          <dd class="col-sm-9"><%= @youtube_video.link %></dd>
          <dt class="col-sm-3">Thumbnail:</dt>
          <dd class="col-sm-9"><%= @youtube_video.thumbnail %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('fas fa-edit', 'Edit'), edit_youtube_video_path(@youtube_video), class: 'btn btn btn-icon icon-left btn-warning' %>
<%= link_to icon('fas fa-arrow-left', 'Back'), youtube_videos_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'Show Youtube Video') %>
