<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Accell', root_path, style: 'text-transform: none' %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'a', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="menu-header"><%= t 'general.classroom_reports' %></li>
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="far fa-columns"></i> <span><%= t('home.index.title') %></span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('courses', 'index') %>">
        <%= link_to courses_path, class: "nav-link" do %>
          <i class="far fa-users-class"></i> <span><%= t('courses.index.title') %></span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('reports', 'index') %>">
        <%= link_to reports_path, class: "nav-link" do %>
          <i class="far fa-file-chart-line"></i> <span><%= t('reports.index.title') %></span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('reports', 'new') %>">
        <%= link_to new_report_path, class: "nav-link" do %>
          <i class="far fa-file-plus"></i> <span><%= t('reports.index.add') %></span>
        <% end %>
      </li>

      <li class="menu-header"><%= t 'general.about_app' %></li>
      <li class="<%= active_nav_item('home', 'about') %>">
        <%= link_to about_path, class: "nav-link" do %>
          <i class="far fa-info"></i> <span><%= t('general.about_app') %></span>
        <% end %>
      </li>
      <%# render 'shared/sidebar_dropdown', title: 'Resources', icon: 'far fa-file-alt' do %>
      <!--
        <li class="<#= active_nav_item('customers', crud_actions) #>">
          <#= link_to 'Customers', customers_path, class: 'nav-link' #>
        </li>
      -->
      <%# end %>
    </ul>
  </aside>
</div>
