<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Links</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Links', links_path %></div>
      <div class="breadcrumb-item">Show Link</div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Show Link</h4>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">Url:</dt>
          <dd class="col-sm-9"><%= @link.url %></dd>
          <dt class="col-sm-3">Titile:</dt>
          <dd class="col-sm-9"><%= @link.titile %></dd>
          <dt class="col-sm-3">Thumbnail:</dt>
          <dd class="col-sm-9"><%= @link.thumbnail %></dd>
        </dl>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('far fa-edit', 'Edit'), edit_link_path(@link), class: 'btn btn btn-icon icon-left btn-warning' %>
<%= link_to icon('far fa-arrow-left', 'Back'), links_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'Show Link') %>
