<div class="card card-primary course-card">
  <div class="card-header" onclick="window.location='<%= course_path(course) %>'" style="cursor: pointer">
    <div>
      <h4><%= course.name %></h4>
      <p style="margin-bottom: 0"><%= course.section %></p>
    </div>
    <div class="card-header-action">
      <%= link_to icon('fas fa-users-class'), course.link, class: "btn btn-icon btn-sm btn-info", title: "", data: { toggle: "tooltip", placement: "top", 'original-title' => t('courses.index.view_in_classroom') } %>
    </div>
  </div>
  <div class="card-body">
    <div>
      <%= course.status_badge.html_safe %>
      <!-- <span class="badge badge-light"><%# t('attributes.code') %>: <code style="color: black; font-size: 110%;"><%# course.enrollment_code.upcase %></code></span> -->
    </div>
      <p>
        <% unless course.course_work_materials.empty? %>
          <%= t('activerecord.models.course_work_material', count: course.course_work_materials.size) %>: <span class="badge badge-light"><%= course.course_work_materials.size %></span>
        <% end %>
        <br/>
        <% unless course.course_works.empty? %>
          <%= t('activerecord.models.course_work', count: course.course_works.size) %>: <span class="badge badge-light"><%= course.course_works.size %></span>
        <% end %>
        <br/>
        <% unless course.announcements.empty? %>
          <%= t('activerecord.models.announcement', count: course.announcements.size) %>: <span class="badge badge-light"><%= course.announcements.size %></span>
        <% end %>
      </p>
  </div>
  <div class="card-footer bg-whitesmoke">
    <%= t('general.created_at') %> <%= l course.creation_time, format: "%-d %B %Y" %>
  </div>
</div>
