<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= t('activerecord.models.course.other') %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to t('home.index.title'), root_path %></div>
      <div class="breadcrumb-item"><%= t('.title') %></div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4><%= t('.title') %></h4>
        <div class="card-header-action">
          <%= link_to icon('fas fa-plus', t('.add')), new_course_path, class: 'btn btn-icon icon-left btn-primary' %>
          <%= render 'shared/card_dropdown' do %>
            <%= link_to icon('fas fa-download', t('general.export_data')), courses_path(format: :csv, q: request.params[:q]), class: 'dropdown-item has-icon' %>
            <%= link_to icon('fas fa-print', t('general.print_page')), 'javascript:window.print()', class: 'dropdown-item has-icon' %>
          <% end %>
        </div>
      </div>
      <div class="card-body" data-controller="infinite-page">
        <% if current_user.courses.any? %>
          <div class="row" style="margin: 0">
            <div class="card-columns">
              <% @courses.each do |course| %>
                <%= render course %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="card">
            <div class="card-header">
              <h4>Nu aveți niciun curs</h4>
            </div>
            <div class="card-body">
              <div class="empty-state" data-height="400" style="height: 400px;">
                <div class="empty-state-icon">
                  <i class="fas fa-question"></i>
                </div>
                <h2><%= t('home.index.no_courses') %></h2>
                <p class="lead">
                  <%= t('home.index.unimported_lead') %>
                </p>
                <%= link_to icon('fa fa-cloud-upload', ' Importați-vă cursurile'), redirect_path, class: "btn btn-primary mt-4 btn-icon icon-left" %>
                <a class="mt-4 bb" style="cursor: pointer" onclick="Swal.fire({title: 'Ajutor', html: 'Apăsați pe „Importați-vă cursurile”. Selectați contul dumneavoastră <strong>de școală</strong> și apăsați pe „Permiteți” atunci când sunteți întrebați.', icon: 'info'})"><%= t('general.help') %>?</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% content_for(:page_title, 'List of Courses') %>
