<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Reports</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Reports', reports_path %></div>
      <div class="breadcrumb-item">Editing Report</div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Editing Report</h4>
      </div>
      <div class="card-body">
        <%= render 'form', report: @report %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('far fa-eye', 'Show'), @report, class: 'btn btn-icon icon-left btn-info' %>
<%= link_to icon('far fa-arrow-left', 'Back'), reports_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'Editing Report') %>
