<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= t('activerecord.models.report.other') %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to t('home.index.title'), root_path %></div>
      <div class="breadcrumb-item"><%= link_to t('reports.index.title'), reports_path %></div>
      <div class="breadcrumb-item"><%= t('reports.index.add') %></div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4><%= t('reports.index.add') %></h4>
      </div>
      <div class="card-body">
        <div class="alert alert-warning alert-has-icon">
          <div class="alert-icon">
            <i class="far fa-lightbulb"></i>
          </div>
          <div class="alert-body d-block">
            <div class="alert-title"><%= t('.refresh_courses') %></div>
            <%= t('.refresh_courses_description') %> <%= t('.last_refresh') %> <%= l(Course.where(user: current_user).pluck(:updated_at).max, format: :long) %><br/>
            <%= link_to icon('far fa-sync', ' ' + t('courses.index.refresh')), courses_oauth_path, class: 'btn btn-icon icon-left btn-outline-primary mt-2', id: 'refresh-courses' %>
            <p class="small"><%= t('.ignore_if_refreshed') %></p>
          </div>
        </div>
        <%= render 'form', report: @report %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('far fa-arrow-left', t('general.back')), reports_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, t('reports.index.add')) %>
